<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Borrow Request Form</title>
</head>
<body>
<h2 th:text="${request.id == null ? 'Create Borrow Request' : 'Edit Borrow Request'}"></h2>

<form th:action="@{/requests/save}" th:object="${request}" method="post">
    <label>Book ID:</label><input type="number" th:field="*{book.id}" /><br/>
    <label>Customer ID:</label><input type="number" th:field="*{customer.id}" /><br/>
    <label>Request Date:</label><input type="date" th:field="*{requestDate}" /><br/>
    <label>Return Date:</label><input type="date" th:field="*{returnDate}" /><br/>
    <button type="submit">Save</button>
</form>

<a th:href="@{/requests}">Back</a>
</body>
</html>
